body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:879px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u95_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:830px;
  height:134px;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:37px;
  width:830px;
  height:134px;
  font-size:48px;
  color:#FF0000;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:830px;
  white-space:nowrap;
}
